node_modules
.env
cache
contracts/cache
contracts/artifacts/@openzeppelin/contracts
contracts/node_modules
contracts/package-lock.json
contracts/package.json
contracts/scripts
contracts/typechain
contracts/typechain-types
contracts/typechain-types